@font-face{
    font-family: customAdri;
    src: url(../font/Glyphter.woff);
}
@font-face{
    font-family: ISO16;
    src: url(../font/TGL\ 0-16.ttf);
}
body{
    font-family: ISO16, sans-serif;
    /* width: 1920px; */
    width: 100%;
    margin: 0 auto;
    cursor: url('../img/cursorArrow.svg') 0 0, auto;
  }
h1{
    font-family: customAdri;
    
    /* cursor: url('../img/arrowCur.png'), auto; */
    /* cursor: url('../img/HammerPure.svg') 0 0, auto; */
    /* cursor: url('../img/cursorArrow2.svg') 0 0, auto; */
    /* cursor: url('../img/cursorHandLink.svg') 0 0, auto; */
    /* cursor: url('../img/cursorScrewdriver.svg') 0 0, auto; */
    /* cursor: url('../img/cursorHammer.svg') 0 0, auto; */
}
h2{
  font-family: customAdri;
  font-size: 14px;
  text-transform: uppercase;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover{
  cursor: url('../img/cursorScrewdriver.svg') 0 0, auto;
}
header{
    padding: 20px;
    background-color: rgba(240, 245, 245, 0.7);
    background-size: cover;
    /* width: 1920px; */
    min-height: 125px;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
  }
.header-nav{
  padding: 20px;
}
.header-nav-a{
    text-decoration: none;
    margin: 0 15px;
    color: rgb(71, 42, 42);
    font-family: ISO16;
    font-size: 14px;
    font-weight: 300;
  }
.header-nav-a:hover{
  color: rgb(116, 142, 146);
  cursor: url('../img/cursorScrewdriver.svg') 0 0, auto;
}
#filter-id{
  text-align: center;
  margin: 20px;
}
#filter-id select{
  font-family: ISO16;
}
#filter-id select option{
  font-family: ISO16;
}
.footer{
  background-color:rgba(240, 245, 245, 0.7);
  text-align: center;
  min-height: 50px;
}
.insta-logo-path{
  fill: #ffffff;
}
.logo-social{
  margin: 30px;
}
.logo-social:hover{
  opacity: 0.5;
}
.section-vign{
  text-align: center;
  padding: 80px;
  z-index: 1;
  /* to avoid z index problems when scale images */
  transform: scale(1);
}

.vignette{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 1205px;
  margin: 0px auto;
}
.vignettes-fig{
  margin: 15px;
  position: relative;
  background-blend-mode: darken;
  mix-blend-mode: darken;
  background-color: rgba(17, 17, 17, 1);
}
.vign-fig-div{
  width: 306px;
  height: 255px;
  overflow: hidden;
}
.vign-fig-img{
  display: block;
}
.vignettes-fig:hover .vign-figcap{
  background-color: rgba(240, 245, 245, 0.9);
}
.vign-fig-img:hover{
  transform: scale(1.1);
  transition: all 0.3s;
}

.vign-figcap{
  background-color: rgba(240, 245, 245, 1);
  padding: 27px;
  text-align: left;
  height: 15px;
  /* width: 306px; */
}
.vign-figcap-h2{
  font-size: 12px;
  margin: 0px;
  text-decoration: none;
  /* font-family: ISO16; */
  font-family: customAdri;
  /* font-size: 16px; */
}

/* section engrenage */
.section-eng{
  z-index: -1;
  /* transform: scale(1); */
  position: fixed;
  top: 100px;
  left: -82px;
  /* z-index: -1; */
}
.div-engrenage{
  width: 250px;
  height: 250px;
  
  display: block;
}
#eng-grand{
  /* animation: rotation 6s infinite linear; */
  position: absolute;
  top: 64px;
  left: 75px;
  z-index: -1;
  opacity: 0.3;
}
#eng-petit{
  /* animation: rotation2 2.5s infinite linear; */
  position: absolute;
  top: 10px;
  left: 10px;
  opacity: 0.3;
}
/* @keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
} */
/* @keyframes rotation2 {
  from {
    transform: rotate(359deg);
  }
  to {
    transform: rotate(0deg);
  }
} */
.chat-sec {
  text-align: center;
  margin-bottom: -84px;
}
#chat-sec-svg path{
  /* transition: 0.1s; */
}
#chat-sec-svg:hover{
  cursor: url('../img/cursorHandOpen.svg') 10 10, auto;
}
#chat-sec-svg:hover path{
  d: path("m 4.256041,132.42022 c -0.517813,5.86083 1.435975,11.29038 3.936953,16.50966 1.268378,4.88489 4.116266,10.31143 9.142836,12.05003 8.752223,-0.5724 17.506419,-0.7921 26.29093,-0.54381 7.828226,-0.77338 15.642637,-1.7192 23.478683,-0.74814 6.028691,1.28825 16.094841,-1.37939 15.987774,6.79735 3.273588,7.89393 4.335986,16.47155 4.291992,24.95869 0.476809,10.20098 3.994111,20.45737 0.888016,30.56902 -1.634935,4.62563 -1.172725,17.37559 6.397387,12.6526 3.4717,-3.10746 2.73811,-8.65915 6.008878,-12.1465 2.56698,-6.51927 2.03431,-13.91271 2.31309,-20.85554 -1.12649,-14.86212 1.48588,-30.70676 -4.994388,-44.65187 -2.18613,-4.18253 4.078648,-7.72545 3.179298,-12.33043 1.11788,-3.94428 1.0046,-8.14511 -0.0473,-12.05776 -0.52807,-5.00814 -2.678978,-9.65664 -4.627408,-14.46803 -1.66106,-2.12032 -2.72284,-4.53755 -1.36635,-7.16567 0.90139,-3.6984 0.29025,-7.9345 -1.13905,-11.524632 -1.010042,-3.18786 -2.592732,-5.22868 -3.686882,-8.36897 -3.116435,-5.92753 -6.075816,-10.040841 -7.612328,-14.034416 0.220379,-3.626202 0.586781,-6.674044 -0.287396,-10.834688 -1.088916,-3.621281 -4.127952,-5.781791 -3.99327,-10.165687 0.295301,-4.777509 0.726106,-7.182091 1.284891,-11.838423 2.142006,-4.934355 -0.727082,-9.206539 -0.600095,-15.15292 1.188286,-2.702376 3.743913,-7.892471 -2.198591,-9.211319 -4.638101,3.080652 -7.451961,1.908212 -13.927939,1.119209 -2.468188,-0.880491 -3.697557,-1.970997 -6.977201,-1.280406 -4.496236,-0.227039 -13.302638,2.727547 -16.352386,0.703429 -2.357891,0.465719 -1.195928,-0.421975 -4.855839,0.128564 -3.306013,0.532711 -1.941391,2.893266 -1.412792,5.944031 0.723404,5.072313 -0.875936,9.344543 -2.515808,14.650277 -1.59974,3.774255 1.195753,4.160233 0.361969,8.800715 -1.779251,6.525806 -3.801285,7.504437 -3.645932,13.912581 -1.808504,5.705744 -2.224811,5.957115 -1.013431,11.495503 -1.686432,2.64221 -4.801457,5.41103 -5.650382,7.90469 0.923203,0.74337 -2.661992,5.7377 -2.604437,5.33886 -3.750085,7.364 -4.67162,16.053582 -5.351352,24.011202 1.890481,4.39842 -3.620628,6.29133 -5.683437,9.38198 -2.125722,3.04113 -2.342029,6.90691 -3.018664,10.45086 z m -2.6200074,0.18765 c 1.449613,-4.54914 1.414701,-10.06211 5.3915914,-13.23152 5.536198,-4.78743 3.543072,-12.82946 5.408272,-19.28042 1.159155,-5.193892 2.933122,-10.640782 5.030517,-15.169402 1.008193,-0.69428 1.169783,-2.87127 2.676479,-4.80996 5.408107,-3.55368 3.303702,-9.616575 3.429481,-14.646256 1.956551,-7.058939 2.543899,-6.138952 2.845338,-10.322503 2.994507,-5.656632 1.769398,-9.012727 1.835145,-15.374056 0.833737,-4.779724 1.692386,-10.8736 1.223256,-15.317361 -0.389877,-4.438114 0.357121,-4.638969 2.967319,-6.515276 3.188152,0.661281 5.230057,-0.899593 10.334277,0.938284 6.093236,0.953629 14.04871,-3.643765 20.731605,-1.324817 3.913148,2.717361 9.328781,2.948264 12.745379,0.33161 4.037358,0.02415 8.103493,2.600619 6.169748,7.807627 -4.011829,6.489424 -0.208812,12.333978 -0.353144,18.95343 -0.683021,6.712653 -4.953886,11.969573 1.420444,17.608176 3.495559,13.735305 1.447825,10.203466 3.649327,17.02771 1.001098,7.0193 4.194792,7.954742 6.655804,14.465832 1.30901,4.49454 3.67491,7.839812 3.74277,12.537592 -1.49213,5.1004 0.46568,10.33196 1.71041,14.61122 3.458938,4.07584 3.771058,10.98576 4.516988,16.41268 1.31494,6.99951 -3.18528,13.00878 -3.75385,19.4789 4.40891,9.57427 4.17892,20.44782 4.50658,30.84734 -0.29687,8.15458 0.97218,15.8803 0.0986,23.83135 -1.08185,5.04787 0.20287,10.21564 -3.1601,14.33695 -2.050468,4.52717 -2.998758,10.71465 -8.26289,12.73062 -1.96415,0.33486 -5.211626,-0.59705 -6.593303,-3.11141 -3.031097,-9.46513 3.049903,-19.42033 0.53315,-29.06926 -1.420236,-8.85616 -1.464782,-17.77541 -2.420373,-26.65692 -1.387853,-5.72365 -2.321097,-11.75465 -5.823333,-16.65014 -5.952955,-1.35606 -12.056029,-2.21055 -18.252325,-1.92214 -8.759282,-0.38357 -17.482658,1.84201 -26.423962,1.02594 -6.562846,-0.15697 -13.326328,0.79293 -19.578405,1.0923 -4.215655,-3.57376 -7.337617,-8.52628 -8.992024,-13.54615 -0.914012,-3.28949 -3.4772174,-7.39052 -3.3917854,-11.45677 -0.434413,-1.77673 -0.178646,-4.10588 -0.617016,-5.6332 z");
  transition: 0.2s;
  
}